.hero-html {
    --size: 10rem;
  
    font-size: var(--size);
    justify-content: center;
    line-height: var(--size);
  }
  
  /* Dark mode colors. */
:root {
    --sl-color-accent-low: #0b2639;
    --sl-color-accent: #0070ac;
    --sl-color-accent-high: #aecde6;
    --sl-color-white: #ffffff;
    --sl-color-gray-1: #eceef2;
    --sl-color-gray-2: #c0c2c7;
    --sl-color-gray-3: #888b96;
    --sl-color-gray-4: #545861;
    --sl-color-gray-5: #353841;
    --sl-color-gray-6: #24272f;
    --sl-color-black: #17181c;
    --overlay-blurple: rgba(50, 161, 234, 0.2);
    --ec-brdRad: 0.5rem;
    --ec-frm-edTabBrdRad: 0.5rem;
  }
  /* Light mode colors. */
  :root[data-theme='light'] {
    --sl-color-accent-low: #c3daed;
    --sl-color-accent: #0072af;
    --sl-color-accent-high: #053554;
    --sl-color-white: #17181c;
    --sl-color-gray-1: #24272f;
    --sl-color-gray-2: #353841;
    --sl-color-gray-3: #545861;
    --sl-color-gray-4: #888b96;
    --sl-color-gray-5: #c0c2c7;
    --sl-color-gray-6: #eceef2;
    --sl-color-gray-7: #f5f6f8;
    --sl-color-black: #ffffff;
    --overlay-blurple: rgba(50, 161, 234, 0.2);
    --ec-brdRad: 0.5rem;
    --ec-frm-edTabBrdRad: 0.5rem;
  }
  
  .starlight-aside,
  .card {
    border-radius: 0.5rem;
  }
  
  code {
    border-radius: 0.25rem;
  }
  .expressive-code {
    border-radius: 0.6rem;
    box-shadow: var(--sl-shadow-md);

  }
  .site-title {
    display: flex;
    align-items: center;
    text-decoration: none; /* Optional: Remove underline from the link */
  }
  
  .site-title img,
  .site-title span {
    vertical-align: middle;
    display: inline-block;
  }
  
  .astro-m46x6ez3 {
    display: inline-block;
    font-weight: bold;
    background: linear-gradient(to right, #ff6b6b, #3b82f6); /* Adjust gradient colors as needed */
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
  }
  .astro-j6tvhyss {
    font-family: 'Montserrat', sans-serif; /* Use the Montserrat font or replace it with your preferred font */
    font-weight: bold;
    font-size: 2em; /* Adjust the font size as needed */
    color: #4a5568; /* Set the text color as needed */
    /* Add text shadow effect */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    /* Add any other styles you want to customize */
  }
  
  
    
  article.card {
    border-radius: 0.5rem;
    box-shadow: var(--sl-shadow-md);
    border: 1px solid var(--sl-color-gray-5);
  }
  
  .legal {
    margin-top: 4rem !important;
    font-size: 12px;
  }
  
  .footer {
    font-size: 14px;
  }
  
  a.decent {
    color: var(--sl-color-white) !important;
    text-decoration: none !important;
  }
  
  a.decent:hover {
    color: var(--sl-color-accent) !important;
  }
  
  [data-has-hero] .page {
    background: linear-gradient(215deg, var(--overlay-blurple), transparent 40%),
      radial-gradient(var(--overlay-blurple), transparent 40%) no-repeat -60vw -40vh / 105vw 200vh,
      radial-gradient(var(--overlay-blurple), transparent 65%) no-repeat 50% calc(100% + 20rem) / 60rem 30rem;
  }
  
  [data-has-hero] header {
    border-bottom: 1px solid transparent;
    background-color: transparent;
    -webkit-backdrop-filter: blur(16px);
    backdrop-filter: blur(16px);
  }
  
  /** Better table styling */
  .sl-markdown-content table {
    border-radius: 0.5rem;
    box-shadow: var(--sl-shadow-md);
    border: 1px solid var(--sl-color-gray-6);
    width: max-content;
    max-width: 100%;
}
  
  .sl-markdown-content table td:first-child,
  .sl-markdown-content table th:first-child {
    border-left: none;
  }
  
  .sl-markdown-content table td:last-child,
  .sl-markdown-content table th:last-child {
    border-right: none;
  }
  
  .sl-markdown-content table tr:first-child th {
    border-top: none;
  }
  
  .sl-markdown-content table tr:last-child td {
    border-bottom: none;
  }
  
  .sl-markdown-content h1 {
    display: inline-flex;
    align-items: center; /* Align the items vertically */
    color: var(--sl-color-accent-high);
  }
  .sl-markdown-content h1 svg {
      margin-left: 5px; /* Add some space between the text and the SVG */
  }
