---
import CallToAction from './CallToAction.astro'

const currentYear = new Date().getFullYear()
---

<footer>
  <!-- <CallToAction /> -->
  <section class="py-8">
    <div class="container">
      <p>
        &copy; {currentYear} - Personality AI. Made with ❤️ by <a
          href="https://github.com/XQuestCode">XQuestCode</a
        >.
      </p>
    </div>
  </section>
</footer>
